* {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F5EF;
}

/* Button */

.button {
  display: flex;
  justify-content: center;
}

button {
  width: 120px;
  border: 1px solid #006533;
  border-radius: 4px;
  background-color: #006533;
  color: white;
  padding: 10px;
  margin: 10px;
}

button:hover {
  opacity: .8;
}

/* Items */

.items {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: white;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  height: auto;
  width: 250px;
  cursor: pointer;
  transition: all 300ms ease-in;
  margin: 15px;
}

.item img:hover {
  transform: scale(1.1);
}

.item span {
  margin: 20px 0;
}